---
import Layout from "../layouts/Layout.astro"; 
---

<Layout title="Book not found">
  <main class="max-w-4xl m-auto text-center min-h-screen grid place-content-center">
    <h1 class="text-4xl font-black">
      Book not found
    </h1>
    <img class="max-w-xl" src="https://img.freepik.com/vector-gratis/ilustracion-concepto-uy-error-404-robot-roto_114360-1932.jpg?w=2000" alt="404">
  </main>
</Layout>