---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import BookList from "../components/BookList.astro";
---

<Layout title="Web transitions demo">
  <main class="m-auto max-w-4xl text-center">
    <Title />
    <BookList />
  </main>
</Layout>
